@model IdenityHelp.ViewModels.Roles.InvalidRoleModificationViewModel


@{
    ViewBag.Title = "Invalid role modification";
}

<h2>You are trying to do operation that is not allowed</h2>

<h2>
    <span class="label label-danger">@Model.Message</span>
</h2>
